
section > div {
    display: flex;
    justify-content: center;
    max-width: 1320px;

}


header {
    height: auto;
}

.home-view {
    margin-top: 0;
    position: relative;
    max-height: 395px;
}
.home-view > img {
    opacity: 0.15;
    object-position: center;
    height: 100%;
    width: 100%;
}

.home-view-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1325px;
} 

.home-view-content h2 {
    font-size: 2.23rem;
    text-transform: none;
    text-align: left;
}

.home-view-content a {
    background-color: #29335C;
    color: #FBFFF1;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.2s ease;
}
.home-view-content a:hover {
    background-color: #FBFFF1;
    color: #29335C;
    box-shadow: -2px 5px 7px #080b0c47;
    transform: scale(1.05) translate(0, -2px);
}

h3 {
    font-size: 1.67rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.left {
    padding: 20px;

}

.right {
    min-width: 425px;
    background-color:  #E1E1E1;
    padding: 20px;
}

.cours-sections > ul > li {
    margin-bottom: 20px;
}

.cours-sections > ul > li span{
    font-size: 1.13rem;
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
}

.section > li {
    background-color: #FBFFF1;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    font-size: .9rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.section > li:hover {
    background-color: #F5F5F5;
}
.section > li div {
    margin-right: 10px;

}

.infos {
    display: flex;
    margin-top: 30px;
}

.infos > div:first-child {
    margin-right: 50px;
}
.infos > div h4 {
    font-size: 1.13rem;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}
