
/* header --------------- */
header {
    height: 100vh;
    overflow: hidden;
    max-height: 700px;
    position: relative;
}



/* title bar -------------------- */

.username {
    color: #29335C;
    font-weight: 700;
    font-size: 1.1rem;
    margin-left: 20px;
    text-transform: uppercase;
}

.title-bar nav ul {
    display: flex;
}
.title-bar nav li:first-child {
    margin-left: 0px;
}
.title-bar nav li {
    margin-left: 20px;
}
.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1800px;
    margin: auto;
}

.logo, .logo span {
    color: #29335C;    
    font-weight: 800;

}
.title-bar .logo {
    font-size: 1.35rem;
}

.logo span {
    color: #DB2B39;
}

.login-btn {
    background-color: #DB2B39;
    padding: 5px 10px;
    color: #FBFFF1;
    font-weight: 500;
}



/* home view --------------------- */
.home-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    position: relative;
    height: 100%;
    overflow: hidden;

}
.home-view-content h2 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    max-width: 1550px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 20px;
}
.home-view-content > div {
    display: flex;
    justify-content: center;
}

.home-view-content div p {
    text-transform: uppercase;
    margin-left: 80px;

}
.home-view-content div p:first-child {
    margin-left: 0;
}

.start-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}



/* courses ----------------- */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #EDEDED;
    padding: 30px 10px;

}
#all-courses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0px 10px;
}
.course {
    width: calc(100%/2.05);
    margin-bottom: 20px;
    background-color: #FBFFF1;
    transition: transform 0.2s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid #b5b5b5;
}
.content > .infos {
    margin-bottom: 10px;
}
.course .content p {
    font-size: 0.88rem;
    max-height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}
.course:hover {
    transform: scale(1.003) translateY(-5px);
}

/* .course:hover.course > a {
    transform: translateX(0px);
} */
.course img {
    object-fit: cover;
    width: 100%;
    height: 225px;
}
.course .content {
    padding: 10px;
}
.course .content h3 {
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 10px;
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



/* --- responsive ------------ */
@media screen and (max-width: 1080px) {
    header {
        max-height: 450px;
    }
    .home-view-content h2 {
        font-size: 4vw;
    }

    .title-bar nav li:first-child {
        display: none;
    }
}
    

@media screen and (max-width: 750px) {
    .social {
        display: none;
    }
    #all-courses {
        flex-direction: column;
    }

    .course {
        width: 100%;
    }
    section {
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media screen and (max-width: 600px) {
    .home-view-content > div {
        flex-direction: column;
    }
    .home-view-content div p, .home-view-content div p:first-child{
        margin: auto;
        display: inline;
    }
    .title-bar nav li:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .home-view-content h2 {
        font-size: 2rem;
    }


}
    
    




