{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cours/cours_list_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts/style.css' %}">

    <title>UISTLearnForest</title>
</head>
<body>
    <main>
        <h1>
            <span class="logo"><span>UIST</span>LEARNFOREST</span>
            <a href="{% url 'home' %}">Allez au site</a>
        </h1> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet provident quas voluptas voluptatibus! Eius ab qui odit ipsum saepe minus illum dicta odio deserunt, natus, nemo aliquam, ullam nisi quasi.</p>
        
        <div class="form-container login">
            <h3>Connexion</h3>
            <form action="#" method="POST">
                {% csrf_token %}

                {% if error %}
                    <div class="error login">{{ error }}</div>
                {% endif %}

                <div>
                    {{ form.username }}
                </div>
                <div>
                    {{ form.password }}
                </div>
                <button type="submit">Connexion</button>
                <a href="{% url 'accounts:register' %}">Inscription</a>
            </form>
        </div>

    </main>

    
</body>
</html>